.fg-white {
  color: #FFF;
}

.transDark {
  background-color: rgba(0, 0, 0, 0.8);
}

.fonticon-caption {
  font-size: larger;
  margin-right: 5px;
}

.fonticon-large {
  font-size: 80px;
  margin-bottom: 8px;
}

#capImage {
  border: 1px solid #DDD;
  border-radius: 4px;
}

#capImage.noimage {
  width: 100%;
}

#capcaption {
  margin-bottom: 2ex;
}

.url-block {
  padding: .5ex 1ex;
  border: 1px solid #CCC;
  border-radius: 4px;
  background: #FAFAFA;
  color: #444;
  text-decoration: underline;
}
