//- Bootstrap
link(type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css")
//- Fontawesome
link(type="text/css" rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css")
//- Animate.css
link(type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css")

link(type="text/css" rel="stylesheet" href="/css/style.css")
